* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  background-color: #F3E4DC;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  background-color: #F3E4DC;
}

header .logo {
display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #000; 
  padding-top: 1%;
}

header .logo img {
  height: 50px; 
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #4A4A4A;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

header nav ul li a:hover {
  color: #D86C8C;
}

.text-with-image {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.text-with-image img {
  width: 24px;
  height: auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40 40px 40px 50px; 
}

.hero-text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  color: #000000;
  font-weight: 300
}
.hero-text p {
  font-size: 20px;    
  color: #000000;
  padding-bottom: 2%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.hero-buttons {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.text-with-image {
  display: flex;
  align-items: center; 
}

.text-with-image img {
  width: 30px;  
  height: auto;
}


.btn-primary {
  background-color: #C89071;
  color: white;
  padding: 10px 35px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.btn-primary:hover {
  background-color: #a5765c;
}

.btn-secondary {
  background-color: #c88f71;
  color: #ffffff;
  padding: 13px 50px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
}

.btn-secondary:hover {
  background-color: #a5765c;
  color: white;
}

.services {
  text-align: center;
  padding: 50px;
  background-color: #FCF4EC;
}

.services h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #D86C8C;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background-color: #FFF;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  width: 250px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.botones {
  color: rgb(0, 0, 0);
  padding: 5px 13px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.botones:hover {
  background-color: #C89071;
  color: white;
}

.login{
    background-color: #C89071;
    color: white;
  padding: 5px 40px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.login:hover {
  background-color: #a5765c;
}

.gallery {
  padding: 50px;
  text-align: center;
}

.gallery h2 {
  font-family: 'Poppins', sans-serif;
  color: #D86C8C;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 30px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 8px;
}

footer {
  background-color: #FCF4EC;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: none;
  font-size: 14px;
}

