{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'Css/styles.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block nav %}
<header>
<div class="logo">
    <img src="{% static 'img/logo.png' %}" alt="Logo Nails Studio Pro">
  </div>  <nav>
    <ul>
      <a href="#" class="botones">Inicio</a>
      <a href="#" class="botones">Servicios</a>
      <a href="#" class="botones">Galeria</a>
      <a href="#" class="botones">Citas</a>
      <a href="#" class="botones">Contacto</a>
      <a href="#" class="login">Inicio Sesion</a>
    </ul>
  </nav>
</header>
{% endblock %}

{% block content %}
<section class="hero">
<div class="hero-text">
  <h1>Bienvenida, hermosa</h1>

  <div class="text-with-image">
    <img src="{% static 'img/estrellita.png' %}" alt="Icono de estrellita">
    <p>En nuestro centro de belleza cuidamos</p>
  </div>
  <p> cada detalle en manicure, pedicure, peluquería,</p>
  <p> pestañas y cejas para realzar tu belleza natural</p>
  <p>y brindarte una experiencia única. </p>
      <div class="hero-buttons">
      <a href="#" class="btn-primary">Reservar cita</a>
      <a href="#" class="btn-secondary">Ver estilos</a>
    </div>
  </div>
  <div class="hero-img">
    <img src="{% static 'img/uñas_1.png' %}" alt="Uñas decoradas">
        <img src="{% static 'img/uñas_2.png' %}" alt="Uñas decoradas">
    <img src="{% static 'img/uñas_3.png' %}" alt="Uñas decoradas">

  </div>
</section>

<section class="services">
  <h2>Nuestros Servicios</h2>
  <div class="service-cards">
    <div class="card">
      <img src="{% static 'img/gel-nails.jpg' %}" alt="Uñas en gel">
      <h3>Uñas en gel</h3>
    </div>
    <div class="card">
      <img src="{% static 'img/spa.jpg' %}" alt="Spa de manos">
      <h3>Spa de manos</h3>
    </div>
    <div class="card">
      <img src="{% static 'img/nail-art.jpg' %}" alt="Nail Art personalizado">
      <h3>Nail Art personalizado</h3>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
<footer>
  <p>&copy; 2025 Nails Studio Pro. Todos los derechos reservados.</p>
  <div class="contact">
    <p>📞 +57 300 000 0000</p>
    <p>✉️ contacto@nailsstudiopro.com</p>
  </div>
</footer>
{% endblock %}
